@import "colors.scss";

* {
  all: unset;
  font-family: "Monaspace Neon";
  font-weight: bolder;
  font-size: 15px;
}

.bar {
  background-color: $bg-color;
  color: $fg-color;
}

.nix-icon {
  padding: 2px 10px;
}

.workspaces {
  padding: 0px 7px;
  margin: 2px 0px;
}

.workspace-entry {
  padding: 10px;
}

.empty {
  color: $blue-bright-color;
}

.clock {
  font-size: 18px;
}

.power {
  margin-right: 10px;
  color: $cyan-bright-color;
}

.icon {
  padding: 5px;
  padding-right: 15px;
  font-size: 18px;
}

.power-menu {
  background-color: $bg-color;
  border: 1px solid white;
  border-radius: 20px;
}

.power-menu * {
  font-size: 40px;
  padding: 10px;
}

.logout:hover {
  background-color: $black-bright-color;
}

.reboot:hover {
  background-color: $black-bright-color;
}

.poweroff:hover {
  background-color: $black-bright-color;
}

.logout {
  color: $magenta-color;
  padding: 30px;
  border-radius: 20px;
}

.reboot {
  color: $green-color;
  padding: 30px;
  border-radius: 20px;
}

.poweroff {
  color: $cyan-bright-color;
  padding: 30px;
  border-radius: 20px;
}
